#content-wrap {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup {
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  position: absolute;
  width: 350px;
  height: 500px;
  z-index: 15;
}

.field {
  margin: 5px;

  .field_input {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
}

.field_button {
  margin:20px;
  margin-left:0px;
}

.actions {
  margin:15px;
  margin-left:40%;
}

.act {
  margin:15px;
  margin-left:42%;
}

.image {
  margin: 40px 150px;
  height: 600px;
}
