.navbar {
  padding: 0em 1em;
}

.btn-light {
  font-size: 14px;
  border-radius: 4px;
}

.form-control {
  font-size: 14px;
  padding: 0.35rem 0.75rem;
  border-radius: 4px;
}

.navbar-lewagon {
  background-color: #000000e3;
  justify-content: space-between;

  .form-inline {
    display: block;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}


